# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Directorio de salida de la compilación
/dist

# Optional npm cache directory
.npm

# Carpeta de logs
/logs
*.log
npm-debug.log*

# Directorios y archivos específicos del sistema operativo
.DS_Store
Thumbs.db